@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1240px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 680px;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 720px;
  }

  .only-425px {
    display: none;
  }

  .hero-video {
    display: none;
  }

  .left-btn-img,
  .right-btn-img {
    display: none;
  }

  nav {
    display: none;
  }

  .right-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rating:nth-child(4),
  .rating:nth-child(5) {
    display: none;
  }

  .right-hero {
    width: 100%;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .online-badge {
    justify-content: center;
  }

  .hero-content h1,
  .hero-content p {
    text-align: center;
  }

  .hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .right-hero > .row {
    justify-content: center;
    gap: 80px !important;
  }

  .rating {
    display: flex;
    gap: 15px;
    border: none;
    text-align: center;
  }

  .master-frontend {
    height: auto;
    min-height: auto;
  }

  .program-special {
    max-width: 100%;
    width: 90%;
  }

  .live-session-img {
    display: none;
  }

  .live-session {
    height: auto;
    min-height: auto;
  }

  .live-session_ img {
    width: 50% !important;
    height: auto !important;
  }

  .head_para h3 {
    font-size: 24px;
  }
  .head_para p {
    font-size: 16px;
  }

  .download {
    display: none;
  }

  .fourth-section-img {
    display: none;
  }

  .heading-button-para {
    flex-direction: column;
    gap: 20px;
  }

  .third-content h4 {
    font-size: 30px !important;
  }

  .download {
    display: inline-block;
  }

  /* Stats */
  .all-mil {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 25px;
  }

  .milestone {
    min-width: 130px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    text-align: center;
  }

  /* Main lower section */
  .lower-part > .d-flex {
    flex-direction: column;
    align-items: center !important;
  }

  /* Sidebar */
  #v-pills-tab {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 30px auto !important;

    align-items: center;
  }

  .first-button-nav {
    width: 100%;
    max-width: 500px;
    text-align: center !important;
  }

  /* Content */
  #v-pills-tabContent {
    width: 100%;
    max-width: 700px;
  }

  .tab-pane {
    width: 100%;
  }

  /* Curriculum header */
  .tool-bar- {
    display: flex;
    flex-wrap: wrap;
  }

  .tool-bar- > .col-9 {
    width: 100%;
  }

  .tool-bar- > .col-3 {
    width: 100%;
  }

  .date {
    padding: 15px 0;
  }

  /* Week cards */
  .tool-bar- > .col-6 {
    width: 100%;
    padding: 30px !important;
  }

  .head-content {
    padding: 20px;
  }

  .other-bootcamps {
    display: none;
  }

  .comparison-column-4 {
    display: none;
  }

  .comparison-table {
    width: 120%;
  }

  .combine {
    display: none;
  }

  .right {
    display: none;
  }

  .left {
    display: none;
  }

  /* Show mobile header */
  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  .three-bar-left {
    display: flex;
    gap: 10px;
  }

  .mobile-menu-btn {
    display: flex;
    align-items: center;

    width: 90px;
    height: 42px;

    color: white;
    background-color: transparent;

    border: 1px solid white;
    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;
  }

  .mobile-menu-btn:hover {
    color: #040856;
    background-color: white;
  }

  .hero-content h1 {
    font-size: 52px;
    width: 90%;
  }
  .hero-content p {
    width: 90%;
  }

  .online-badge {
    height: 30px;
  }

  .hero {
    background: #00008b;
    min-height: 580px;
  }

  .mobile-logo {
    width: 100px;
    height: auto;
  }

  .login-buton {
    background: transparent;
    border: 1px solid white;
  }

  .offcanvas-length {
    width: 100%;
    max-width: 45%;
  }

  .all-item {
    gap: 0px;
  }

  .offcanvas-login {
    color: black;
    font-weight: 600;
    font-size: 24px;
  }

  .offcanvas-login-email {
    display: flex;
    justify-content: space-between;
  }

  .offcanvas-email {
    color: rgb(15, 98, 254);
    font-size: 16px;
  }

  .enter-number {
    display: flex;
    justify-content: center;
  }

  .enter-number input {
    border: 3px solid black;
    max-width: 100%;
    width: 79%;
    height: 47px;
    border-radius: 10px;
  }

  .india-flag {
    position: absolute;
    top: 175px;
    left: 60px;
  }

  .offcanvas-login-button {
    color: white;
    background-color: #194cff;
    width: 100%;
    height: 18%;
  }

  .create-an-account {
    color: blue;
  }

  .last-offcanvas {
    background: transparent;
    border: none;
  }
}

@media (max-width: 426px) {

  .hero-content{
    display: flex;
    gap: 20px;
  }

  .hero-content h1 {
    font-size: 25px;
  }

  .hero-content p {
    display: none;
  }

  .only-big{
    display: none;
  }

  .only-425px{
    display: block;
    display: flex;
    gap: 40px;
  }

  .hero-button {
    display: flex;
    flex-direction: column;
  }

  .pl-re {
    display: none;
  }

  .call-progress {
    width: 100%;
    height: 50px;
    padding: 0px 68px;
    border: 1px solid white;
    background: transparent;
    
  }

  .do-cu{
    width: 100%;
  }

  .live-session_ {
    display: none;
  }

  .offcanvas-length {
    max-width: 100%;
    width: 80%;
    background-color: #666;
  }

  .master-frontend{
    padding: 10px;
  }

    .master-frontend h3 {
      font-size: 18px;

    }

    .master-frontend p{
      font-size: 16px;
    }

    .live-session{
      padding: 0px;
      gap: 0px;
    }
  

        .comparison-table{
          width: 115%;
        }
.featured-header h4 {
  font-size: 16px;
}

}
